<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
    <style>
    .zu{
    background-color: lightseagreen;
    }
    .zu:hover {
    background-color: #05857e
    }
    </style>
</head>
<body>

 
            <h1 style="font-weight: bold;">Mitarbeiter Dashboard</h1>
            
            <div style = "display: flex; flex-direction: column; align-items: center;">
                <a style ="padding: 15px 54px; margin: 0;" href="/employees" class="option">Mitarbeiter verwalten</a>
                <a style = "margin: 10px 0 10px 0; padding: 15px 50px" href="/schedules" class="option">Dienstpläne verwalten</a>
    <a style="padding: 15px 37px; margin: 0 0 10px 0;" href="/holiday-requests" class="option">Urlaubsanträge verwalten</a>
                    <a class="zu" style= "    margin: 0; padding: 15px 104px;" href="/welcome">Zurück</a>
            </div>


</body>
</html>
