<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Urlaubsanträge verwalten</title>
    <link rel="stylesheet" th:href="@{/resources/css/style_employee.css}">
        <style>
    .zu{
    background-color: lightseagreen;
    }
    .zu:hover {
    background-color: #05857e
    }
    </style>
</head>
<body>
    <h1>Urlaubsanträge verwalten</h1>

    <table>
        <thead>
            <tr>
                <th>Mitarbeiter</th>
                <th>Startdatum</th>
                <th>Dauer</th>
                <th>Status</th>
                <th>Aktionen</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="request : ${requests}">
                <td th:text="${request.employee.name}"></td>
                <td th:text="${request.startDate}"></td>
                <td th:text="${request.duration}"></td>
                <td th:text="${request.status}"></td>
                <td>
                    <form th:action="@{/holiday-requests/{id}/approve(id=${request.id})}" method="post" style="display: inline;">
                        <input type="submit" value="Genehmigen">
                    </form>
                    <form th:action="@{/holiday-requests/{id}/reject(id=${request.id})}" method="post" style="display: inline;">
                        <input type="submit" value="Ablehnen">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
     <a class="zu" href="/dashboard">Zurück</a>
</body>
</html>
