<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kunden Artikelliste</title>
    <link rel="stylesheet" th:href="@{/resources/css/style_verkaufsbereich.css}">
</head>
<body>
<header>
    <nav>
        <div class="logo">Fitnessstudio</div>
        <ul>
            <li><a href="/index">Startseite</a></li>
            <li><a href="/about">Über uns</a></li>
            <li><a href="/contact">Kontakt</a></li>
             <li th:if="${#authorization.expression('hasRole(''ROLE_EMPLOYEE'')')}">
    <a th:href="@{/employeeView/{username}(username=${#authentication.name})}">Mitarbeiter-Dashboard</a>
</li>
   <li th:if="${#authorization.expression('hasRole(''ROLE_TRAINER'')')}">
    <a th:href="@{/employeeView/{username}(username=${#authentication.name})}">Mitarbeiter-Dashboard</a>
</li>
	<li><a href="/warenkorb">Warenkorb</a></li>
    <!-- Das folgende li-Element wird nur angezeigt, wenn die Rolle des Benutzers "User" ist -->
    <li th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
        <a href="/ansicht_member_dashboard">Mitglied-Dashboard</a>
    </li>
        </ul>
<div th:if="${#authorization.expression('isAuthenticated() and (hasRole(''USER'') or hasRole(''EMPLOYEE'') or hasRole(''TRAINER''))')}">

    <a class="logout" href="/logout">Abmelden</a>
</div>
<div th:if="${#authorization.expression('!isAuthenticated() or (!hasRole(''USER'') and !hasRole(''EMPLOYEE'') and !hasRole(''TRAINER''))')}">
    <a class="login" href="/login">Anmelden</a>
</div>

    </nav>
 </header>
    <div class="catalog">
		 <div th:each="artikel : ${artikel}" class="catalog-item">
		    <img th:src="@{${artikel.bildUrl}}" alt="Bild">
		    <div class="text">
		    <h3 th:text="${artikel.name}"></h3>
		    <p th:text="${artikel.beschreibung}"></p>
		    <p th:text="${artikel.price}"></p>
		    </div>
		    <div class="klick1">
		    <form th:action="@{'/warenkorb/verkaufsbereich/' + ${artikel.idAsString} + '/hinzufuegen'}" method="post">
		        <button style="margin-bottom: 8px; padding: 10px 20px; background: #21d6f3; cursor: pointer;" type="submit">In den Warenkorb</button>
		    </form>
		    <form th:action="@{'/bezahlung/verkaufsbereich/' + ${artikel.idAsString} + '/sofortkauf'}" method="post">
		        <button style="padding: 10px 32px; margin-bottom: -11px; background: #21d6f3; cursor: pointer;" type="submit">Sofort Kaufen</button>
		    </form>
		    </div>
		</div>
    </div>
</body>
</html>
