<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mitglied-Dashboard</title>
        <link rel="stylesheet" th:href="@{/resources/css/style.css}">
            <style>
    .zu{
    background-color: lightseagreen;
    }
    .zu:hover {
    background-color: #05857e
    }
    </style>
</head>
<body>
    <h1>Mitglied-Dashboard</h1>
<div style = "display: flex; flex-direction: column; align-items: center;">
        <a style ="padding: 15px 56px; margin: 0;" th:href="@{/members}">Mitgliederliste</a>
        <a style = "margin: 10px 0 10px 0; padding: 15px 50px" th:href="@{/training-plans/list-training-plans}">Trainingspläne</a>
        <a style="padding: 15px 72px; margin: 0 0 10px 0;" th:href="@{/contracts}">Verträge</a>
        <a class="zu" style= "    margin: 0; padding: 15px 76px;" th:href="@{/welcome}">Zurück</a>
</div>
</body>
</html>