<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Schedules</title>
    <link rel="stylesheet" th:href="@{/resources/css/style_employee.css}">

    <style>
    .zu{
    background-color: lightseagreen;
    }
    .zu:hover {
    background-color: #05857e
    }
    </style>
</head>
<body>
<h1>Dienstpläne</h1>
<a th:href="@{/schedules/new}">Neuen Dienstplan erstellen</a>
<br>
<a class="zu" th:href="@{/dashboard}">Zurück</a>
<table>
    <thead>
        <tr>
            <th>Groupe</th>
            <th>Name</th>
            <th>Arbeitszeiten</th>
            <th>Aktionen</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="schedule : ${schedules}">
            <td th:text="${schedule.role}"></td>
            <td th:text="${schedule.employee != null && schedule.employee.name != null ? schedule.employee.name : 'N/A'}"></td>
            <td>
                <table>
                    <tr th:each="workingHour : ${#strings.arraySplit(schedule.workingHours, ';')}">
                        <td th:text="${workingHour}"></td>
                    </tr>
                </table>
            </td>
            <td>
                <a th:href="@{/schedules/update/{id}(id=${schedule.id})}">Bearbeiten</a>
                <form th:action="@{/schedules/delete/{id}(id=${schedule.id})}" method="post" style="display:inline;">
                    <input type="submit" value="Löschen" class="small-button">
                </form>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>
